body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

/* tailwindcss configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* custom css */
@layer components {
  .btn {
    @apply text-white bg-pink-500 px-4 py-2 duration-300 rounded-md
  }
  
  .header {
    @apply md:text-4xl text-3xl text-gray-800 font-semibold my-2
  }

  .content-header {
    @apply md:text-xl text-lg text-gray-800 font-light my-2
  }

  .content {
    @apply md:text-lg text-base text-gray-800 font-light my-2 
  }

  .dept-card {
    @apply border-2 border-sky-300 rounded-xl flex flex-col justify-center items-center md:py-8 md:px-0 py-4 px-3 hover:bg-sky-300 text-gray-700 hover:text-gray-100 md:text-xl text-lg text-center font-medium
  }

  .dept-icon {
    @apply text-pink-500 md:text-5xl text-2xl mb-2 
  }

  .datepicker, .title {
    @apply my-2 rounded-md border-2 w-full pl-2 pr-4 py-2 md:mx-2 outline-none focus-within:border-sky-500 
  }
}