.login {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  margin-bottom: 6px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.login button[type="submit"] {
  background-color: #ff69b4;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}

.login .selector {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.login .selector button {
  background-color: #00bfff;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.login .selector button.active {
  background-color: #ff69b4;
}


