.login {
  background-color: #00bfff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
